body {
  margin: 0;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #212121;
  color: #fff;
  padding-top: 50px;
}

.container {
  padding: 50px 0;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 5px;
}

h1, h5 {
  margin: 5px 0;
  font-weight: normal;
}

h5 {
  padding-bottom: 30px;
}

.no-js .submit,
.no-js .icon-clipboard,
.no-js .icon-info {
  display: none;
}

#url {
  width: 90%;
  outline: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
}

#big {
  position: fixed;
  font-size: 5vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bar {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 20px;
  display: inline-table;
}

.bar .icon-link {
  vertical-align: middle;
  background: #fff;
  color: #000;
  border-radius: 0 5px 5px 0;
  font-size: 19px;
  cursor: pointer;
  padding-right: 3px;
}

h3 {
  font-weight: lighter;
}

.links {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}

.links > div {
  text-align: left;
  background: rgba(255, 255, 255, 0.03);
  widows: 50%;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 5px auto;
}

.links > div > div.right {
  display: inline-block;
  text-align: right;
  float: right;
  font-size: 0;
  cursor: pointer;
}

.links > div > div.right > a,
.links > div > div.right > span {
  vertical-align: middle;
  padding: 0 1px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}